/* corp */
.corp{
    width: 100%;
    min-height: 100vh;
    z-index: 10;
    margin-bottom: 50px;
    background: #fff;
}
.button {
    justify-content: center;
}


/* Nav */
.top-bar *, .top-bar {
    background-color:#1e90ff;
}

.top-bar a{
    color: #FFF8DC;
    transition-duration: 200ms;
}
.top-bar a:hover{
    transform: scale(1.1);
    transition-duration: 200ms;
    text-decoration: underline;
}
.a {
    color: #0a2e48;
}
.logo {
    width: 5%;
}

/* Footer */

.bot-bar {
    z-index: -1;
    position: fixed;
    width: 100%;
    height: 50px;
    bottom: 0;
    background-color:#1e90ff;
    color: #FFF8DC;
    padding: 1rem 1rem;
    display: -ms-flexbox;
    display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
    flex-direction: column;
        -webkit-align-items: center;
        -ms-flex-align: center;
    align-items: center;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
    justify-content: space-between;
}
.bot-bar span {
    margin-left: 0.5%;
    margin-right: 0.5%;
    border-right: 1px solid #e6e6e6;
}


/* Flash messages */
.alert-callout-border{
  width: 100%;
  padding: 1.3rem;
  border-left-width: 0.3125rem;
  border-left-color: #cacaca;
}
.alert-callout-border strong {
  color: #0a0a0a;
}
.alert-callout-border .close-button {
  position: absolute;
  color:#3adb76;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.alert-callout-border.radius {
  border-radius: 0.6rem;
}
.alert-callout-border.primary {
  border-left-color: #1779ba;
}
.alert-callout-border.primary strong {
  color: #1779ba;
}
.alert-callout-border.secondary {
  border-left-color: #767676;
}
.alert-callout-border.secondary strong {
  color: #767676;
}
.alert-callout-border.alert {
  border-left-color: #cc4b37;
}
.alert-callout-border.alert strong {
  color: #cc4b37;
}
.alert-callout-border.success{
  border-left-color: #3adb76;
}
.alert-callout-border.success strong {
  color: #3adb76;
}
.alert-callout-border.warning {
  border-left-color: #ffae00;
}
.alert-callout-border.warning strong {
  color: #ffae00;
}

.default-hiden{
    visibility: hidden;
}

.green-button{
    background-color: #06CA00 !important;
}
.green-button:hover{
    background-color: #059600 !important;
}