<div class="example-wrapper">
    <p>Les entrées de Jeux de Mots en relation (ID ={{ relation }}) avec le terme {{ term }} sont :</p>
    <p>
    {% for c in content %}
        <a onclick="searchOnJDM('{{ c }}', 'exacte');" >{% autoescape %}
            {{ c|raw }} {# var won't be escaped #}
        {% endautoescape %}</a>
        {% if not loop.last %}
            &nbsp; ; &nbsp;
        {% endif %}
    {% endfor %}
    </p>
</div>
