<div class="example-wrapper">
    <p>Les entrées de Jeux de Mots en relation (ID ={{ relation }}) avec le terme {{ term }} sont :</p>
    <ul>
    {% for c in content %}
        <p class="button" onclick="searchOnJDM('{{ c }}', 'exacte');" >{% autoescape %}
            {{ c|raw }} {# var won't be escaped #}
        {% endautoescape %}</p>
    {% endfor %}
    </ul>
</div>
